# Игнорировать директорию emebel
emebel/

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать виртуальное окружение
venv/
env/
.env

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи
*.log

# Игнорировать временные файлы
*.tmp
